# Environments
.venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/

# Data
data/
*.parquet

# C++ Build & Tooling
build/
out/
.vscode/
CMakeCache.txt
CMakeFiles/
*.exe
*.obj
*.pdb
*.lib
*.dll